<center>Hello and welcome to Anna's coinchanger app!<center><br>
<center> what is the amount you would like to make change with?<center>
	<form method="post" action="numbers">
	<input type="number" name="num1">
</form>